node_modules/
.env
dist/
.idea/
temp/
docs/endpoints/

## Graphify -- ignore temporal/local files
# Ignorar todo dentro de graphify-out
graphify-out/**

# Pero mantener estos 3 archivos específicos
!graphify-out/GRAPH_REPORT.md
!graphify-out/graph.html
!graphify-out/graph.json